{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django News</title>
    <link rel="stylesheet" href="{% static 'all_news/css/all-news.css' %}">
</head>
<body>
    <header class="header text">
        News
    </header>
    <section class="news">
        <div class="news__list">
        </div>
    </section>

    <!-- template for news -->
    <a href="#" style="display:none;" class="news__list-item" id="news__template">
        <div class="news__list-item__header text"></div>
        <div class="news__list-item__image">
            <img src="{% static 'common/camera.jpg' %}" alt="">
        </div>
        <div class="news__list-item__text text"></div>
        <div class="news__list-item__footer">
            <div class="news__list-item__taglist">
            </div>
        </div>
    </a>

    <script src="{% static 'common/jquery.min.js' %}"></script>
    <script src="{% static 'common/get_csrf.js' %}"></script>
    <script src="{% static 'all_news/js/all-news.js' %}"></script>
</body>
</html>

