{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ header }}</title>
    <link rel="stylesheet" href="{% static 'all_news/css/single-news.css' %}">
</head>
<body>
    <section class="news">
        <div class="news__list">
            <a href="#" class="news__list-item">
                <div class="news__list-item__header text">News!</div>
                <div class="news__list-item__image">
                    <img src="{{ image }}" alt="">
                </div>
                <div class="news__list-item__text text">{{ text }}</div>
                <div class="news__list-item__footer">
                    <div class="news__list-item__taglist">
                        {% for tag in tags %}
                            <div class="news__list-item__taglist-item text">{{ tag.tag_name }}</div>
                        {% endfor %}
                    </div>
                    <div class="news__list-item__reactions">
                        <div class="news__list-item__reactions__like text">LIKE</div>
                        <div class="news__list-item__reactions__dislike text">DISLIKE</div>
                    </div>
                </div>
            </a>
        </div>
    </section>

    <script src="{% static 'common/jquery.min.js' %}"></script>
    <script src="{% static 'common/get_csrf.js' %}"></script>
    <script>let news_id = "{{ news_id }}";</script>
    <script src="{% static 'all_news/js/single-news.js' %}"></script>
</body>
</html>